env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8
script: placeholder
matrix:
  include:
    # iOS Builds
    - script: set -o pipefail && xcodebuild -workspace "Example/EasterDate.xcworkspace" -scheme "EasterDate Example iOS" -sdk iphonesimulator9.3 -destination "OS=9.3,name=iPhone 6s Plus" -configuration Debug ONLY_ACTIVE_ARCH=NO clean build test | xcpretty -c
      env: JOB="Xcode 7.3, iOS 9.3, Swift 2.2"
      os: osx
      osx_image: xcode7.3
      language: objective-c
      before_install:
        - xcodebuild -version
        - xcodebuild -showsdks
        - pod lib lint
    - script: set -o pipefail && xcodebuild -workspace "Example/EasterDate.xcworkspace" -scheme "EasterDate Example iOS" -sdk iphonesimulator9.3 -destination "OS=9.3,name=iPhone 6s Plus" -configuration Debug -toolchain swift ONLY_ACTIVE_ARCH=NO clean build test | xcpretty -c
      env: JOB="Xcode 7.3, iOS 9.3, Swift 3.0"
      os: osx
      osx_image: xcode7.3
      language: objective-c
      before_install:
        - export SWIFT_SNAPSHOT=swift-DEVELOPMENT-SNAPSHOT-2016-05-09-a
        - curl https://swift.org/builds/development/xcode/$SWIFT_SNAPSHOT/$SWIFT_SNAPSHOT-osx.pkg -o swift.pkg
        - sudo installer -pkg swift.pkg -target /
    # tvOS Builds
    - script: set -o pipefail && xcodebuild -workspace "Example/EasterDate.xcworkspace" -scheme "EasterDate Example tvOS" -sdk appletvsimulator9.2 -destination "OS=9.2,name=Apple TV 1080p" -configuration Debug ONLY_ACTIVE_ARCH=NO clean build test | xcpretty -c
      env: JOB="Xcode 7.3, tvOS 9.2, Swift 2.2"
      os: osx
      osx_image: xcode7.3
      language: objective-c
      before_install:
        - xcodebuild -version
        - xcodebuild -showsdks
        - pod lib lint
    - script: set -o pipefail && xcodebuild -workspace "Example/EasterDate.xcworkspace" -scheme "EasterDate Example tvOS" -sdk appletvsimulator9.2 -destination "OS=9.2,name=Apple TV 1080p" -configuration Debug -toolchain swift ONLY_ACTIVE_ARCH=NO clean build test | xcpretty -c
      env: JOB="Xcode 7.3, tvOS 9.2, Swift 3.0"
      os: osx
      osx_image: xcode7.3
      language: objective-c
      before_install:
        - export SWIFT_SNAPSHOT=swift-DEVELOPMENT-SNAPSHOT-2016-05-09-a
        - curl https://swift.org/builds/development/xcode/$SWIFT_SNAPSHOT/$SWIFT_SNAPSHOT-osx.pkg -o swift.pkg
        - sudo installer -pkg swift.pkg -target /
    # OS X Builds
    - script: set -o pipefail && xcodebuild -workspace "Example/EasterDate.xcworkspace" -scheme "EasterDate Example Mac" -sdk macosx10.11 -destination "arch=x86_64" -configuration Debug ONLY_ACTIVE_ARCH=NO clean build test | xcpretty -c
      env: JOB="Xcode 7.3, OS X 10.11, Swift 2.2"
      os: osx
      osx_image: xcode7.3
      language: objective-c
      before_install:
        - xcodebuild -version
        - xcodebuild -showsdks
        - pod lib lint
    - script: set -o pipefail && xcodebuild -workspace "Example/EasterDate.xcworkspace" -scheme "EasterDate Example Mac" -sdk macosx10.11 -destination "arch=x86_64" -configuration Debug -toolchain swift ONLY_ACTIVE_ARCH=NO clean build test | xcpretty -c
      env: JOB="Xcode 7.3, OS X 10.11, Swift 3.0"
      os: osx
      osx_image: xcode7.3
      language: objective-c
      before_install:
        - export SWIFT_SNAPSHOT=swift-DEVELOPMENT-SNAPSHOT-2016-05-09-a
        - curl https://swift.org/builds/development/xcode/$SWIFT_SNAPSHOT/$SWIFT_SNAPSHOT-osx.pkg -o swift.pkg
        - sudo installer -pkg swift.pkg -target /
    # Swift Package Manager Builds
    - script:
      - set -o pipefail
      - TOOLCHAINS=swift swift build
      - TOOLCHAINS=swift swift test
      env: JOB="Swift Package Manager, Swift 3.0"
      os: osx
      osx_image: xcode7.3
      language: objective-c
      before_install:
        - export SWIFT_SNAPSHOT=swift-DEVELOPMENT-SNAPSHOT-2016-05-09-a
        - curl https://swift.org/builds/development/xcode/$SWIFT_SNAPSHOT/$SWIFT_SNAPSHOT-osx.pkg -o swift.pkg
        - sudo installer -pkg swift.pkg -target /
        - TOOLCHAINS=swift swift -version
    # Linux Builds
    - script:
      - set -o pipefail
      - swift build
      - swift test
      env: JOB="Linux, Swift 3.0"
      dist: trusty
      sudo: required
      language: generic
      before_install:
        - wget -q -O - https://swift.org/keys/all-keys.asc | gpg --import -
        - cd ..
        - gpg --keyserver hkp://pool.sks-keyservers.net --refresh-keys Swift
        - export SWIFT_SNAPSHOT=swift-DEVELOPMENT-SNAPSHOT-2016-05-09-a
        - export SWIFT_URL=https://swift.org/builds/development/ubuntu1404/$SWIFT_SNAPSHOT/$SWIFT_SNAPSHOT-ubuntu14.04.tar.gz
        - wget $SWIFT_URL
        - wget $SWIFT_URL.sig
        - gpg --verify $SWIFT_SNAPSHOT-ubuntu14.04.tar.gz.sig
        - tar xzf $SWIFT_SNAPSHOT-ubuntu14.04.tar.gz
        - export PATH="${PWD}/${SWIFT_SNAPSHOT}-ubuntu14.04/usr/bin:${PATH}"
        - cd EasterDate
        - swift -version
  exclude:
    - script: placeholder
